@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: black;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 1000px;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.col-header {
  width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  padding: 0.8rem 1rem;
  color: #fff;
  text-align: center;
}

.item {
  width: 150px;
  height: 66px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 20px;
  background: linear-gradient(45deg, #34e28c, #7d1ed4);
  padding: 0.8rem 1rem;
  color: rgb(255, 255, 255);
  text-align: center;
  cursor: grab;
  font-size: 28px;
}

.item:active {
  cursor: grabbing;
}

.placeholder {
  width: 150px;
  height: 66px;
}

.start {
  background: linear-gradient(45deg, #c100b9 0%, #db8620 179.25%);
}

.progress {
  background: linear-gradient(45deg, #0068c1 0%, #5a33c6 100%);
}

.done {
  background: linear-gradient(45deg, #00c44b 0%, #00b3ae 100%);
}

.feature {
  background: linear-gradient(45deg, #b4ae23 0%, #e5ca00 100%);
}

.cancel {
  background: linear-gradient(45deg, #b42323 0%, #c90000 100%);
}

.hold {
  border: 2px solid #00fdc5;
}

.hide {
  display: none;
}

.hovered {
  border-top: 2px solid #00fdc5;
  border-radius: 20px;
}